* {
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-color: #0b0223;
  --secondary-color: #534c64;
  --linear-gradient: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

.nav-container {
  padding: 20px 240px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  width: 30%;
}

.nav-title {
  color: #0b0223;
  font-size: 2.8rem;
  font-weight: 700;
}

.nav-span {
  color: #ff42a5;
}

.nav-items {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-items a:link {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}

.nav-items a:visited {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}

.nav-button {
  padding: 15px 25px;
  display: flex;
  gap: 20px;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}

.nav-button-title {
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
}

.nav-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px 0px;
}

.banner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.banner-text {
  margin: 0px;
  padding: 100px 100px 115px 240px;
  background-image: url("./images/banner-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.banner-intro {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.banner-title {
  font-size: 6rem;
  font-weight: 800;
  text-align: center;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner ul {
  padding-left: 20px;
  text-align: left;
}

.banner ul li {
  padding: 10px 0px;
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 500;
  list-style-type: none;
}

.banner-btn-1 {
  margin: 30px 20px 0px 0px;
  padding: 20px 40px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 45px;
  background: var(--linear-gradient);
  cursor: pointer;
}

.banner-btn-2 {
  margin: 30px 0px 0px 0px;
  padding: 20px 40px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 45px;
  background: #4ec5f7;
  cursor: pointer;
}

.banner-image {
  padding-right: 240px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.banner-image img {
  height: 540px;
}

.gamer-container {
  padding: 50px 240px;
  height: 500px;
  display: flex;
  gap: 50x;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.gamer-description {
  width: 500px;
  text-align: right;
}

.gamer-title {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gamer-msg-1 {
  padding: 20px 0px;
  padding-left: 50px;
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
}

.gamer-btn {
  padding: 20px 40px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  background: var(--linear-gradient);
  cursor: pointer;
}

.gamer-msg-2 {
  padding: 20px 0px;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 45px;
}

.gamer-span {
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 600;
}

.gamer-image img {
  width: 100%;
}
